@font-face {
    font-family: "Bodoni Moda", serif;
    src: url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
}
@font-face {
    font-family: "Nunito Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
}

@font-face {
    font-family: "Varela Round", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
}

/* reset  */
a{
    text-decoration: none;
    color: initial;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
button{
    background-color: transparent;
    border: none;
    outline: none;
}

/* global */
html{
    font-family: "Helvetica", "sans serif";
    font-size: 16px;
}
img{
    width: 100%;
}

@media screen and (min-width:2000px) {
    html{
        font-size: 24px;
    }
}
@media screen and (max-width: 500px) {
    html{
        font-size: 11px;
        min-width: 260px;
    }
}
*{
    margin: 0;
    padding: 0;
}
.content{
    margin-top: 6rem;
}



/* custome */

/* header */
.container{
    margin: 0 8.88%;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.logo{
    font-size: 2.5rem;
    font-weight: 700;
    transform: translateY(-5%);
}

.top-nav{
    display: flex;
}

.top-nav li a{
    display: block;
    padding: 0.45rem 1.5rem;
    font-size: 0.885rem;
    letter-spacing: 0.125rem;
}

.top-nav li a:hover{
    background-color:#f7f7f7;
}

.sm-sc-mn{
    display: none;
}

.support-btn{
    padding: 0.25rem 1.5rem;
    border: 1px solid;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

.support-btn:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width:940px) {
    .wide-sc-mn{
        display: none;
    }
    .sm-sc-mn{
        display: block;
    }
    .support-btn{
        display: none;
    }
}


/* hero */
main{
    margin-top: 0.75rem;
    background-image: url("https://cdn.leonardo.ai/users/1f7764aa-88e8-42ff-bf4c-db4fac7a4ba7/generations/18469a1b-427b-49b6-8ae8-1d7bdbe84cc4/AlbedoBase_XL_A_realistic_image_of_delivery_truck_driving_on_t_3.jpg");
    background-repeat: no-repeat;
    background-position: 35% 50%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    height: 80vh;
    font-family:"Bodoni Moda", "serif";
}
.hero{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    line-height: 1.5;
}
.hero h1{
    font-size: 4.25rem;
    
}
.hero p{
    font-size: 1.23rem;
}

.cta-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    min-width: 240px;
    background-color: white;
    color: black;
    border: 1px solid;
    padding: 0.45rem 1.5rem;
    box-sizing: border-box;
    font-size: 0.95rem;
    margin-top:2rem;
}

.cta-btn:hover{
    cursor: pointer;
    border: 1px solid;
}

.cta-btn:hover .cta-btn > svg{
    transform: translateX(50%);
    color: red;
}

@media screen and (max-width:810px) {
    .hero{
        line-height: 1;
    }
    .hero p{
        margin-top: 1.25rem;
        line-height: 1.34;
    }
}

/* our product  */
section{
    padding-top: 5rem;
}

.our-product{
    background-color: #f5f5f5;
}
.section-title{
    text-align: center;
    font-size: 2.25rem;
    opacity: 0.4;
}

.category-list{
    text-align: center;
    margin-top: 4%;
    opacity: 0.5;
}

.category-list li{
    display: inline-block;
    padding: 0.55rem 1.55rem;
    margin-right: 0.55rem;
    font-size: 1rem;
    border: 1px solid;

}

.our-product h3{
    font-size: 1.725rem;
    text-transform: uppercase;
    letter-spacing: 0.025rem;
    font-weight: 200;
    border-bottom: 1px solid #cfcfcf;
    padding: 0.55rem 0;
}
.product-container{
    padding: 2rem 0;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}
.product{
    flex-shrink:  0;
    max-width: 300px;
    height: 380px;
    position: relative;
}

.product:hover::before{
    content: "";
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    width: 300.5px;
    height: 100%;
    border: 1px solid;
    z-index: 1;
}
.product:hover .info .price{
    top: -40px;
}

.product .info{
    padding: 12px 32px;
    background-color: #ededed;
    line-height: 1.5;
    position: relative;
}
.info .price{
    font-family: "Bodoni Moda", serif;
    position: absolute;
    top: -30px;
    background-color: #8294ff;
    padding: 0.25rem 1.55rem;
    letter-spacing: 1px;
    transition: 0.2129s ease-in-out;
}
.info .title{
    font-size: 1.25rem;
    font-weight: 900;
    text-transform:capitalizet;
}
.info .tag{
    font-family: "Varela Round", sans-serif;
    opacity: 0.5;
    font-size: 0.95rem;
    font-weight: bold;
}


/* about us*/
.about-us{    
    /* background-color: #fffeea; */
}
.about-us .content{
    /* padding-top: 2rem; */
    /* border-top: 1px solid; */
}
.vision{
    padding: 1.25rem;    
    background-color: #ff62ae;
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    color: white;
    box-shadow: -8px 8px black;
}
.vision h3{
    text-shadow: -2px 2px rgba(0, 0, 0, 1);
    font-size: 2rem;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.vision p{
    /* margin-top: 20px; */
    line-height: 1.5;
    text-align: center;
    font-size: 1.25rem;
}

.feedback-container{
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    max-width: 70%;
}
.feedback{
    padding: 1rem;
    background-color: #ebebeb;
    position: relative;
    box-shadow: -4px 4px #858585;;
}
.left{
    align-self: start;
}
.right{
    align-self: end;
}
.feedback .info{
    display: flex;
    align-items: center;
}

.feedback .info .profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.feedback .info .detial{
    padding: 0 1rem;
    display: inline-block;
}
.feedback .comment{
    padding: 1rem 1rem 1rem 0.5rem;
}

@media screen and (max-width:1296px) {
    .vision{
        max-width: 100%;
    }
    .feedback-container{
        max-width: 100%;
    }
}

@media screen and (max-width: 647px) {
    .feedback{
        max-width: 100%;
    }
}



/* footer */
footer{
    background-color: black;
    color: rgb(209, 209, 209);
    padding-bottom: 2rem;
}

footer nav{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    height: 300px;
}

footer a{
    color: rgb(209, 209, 209);
    font-size: 1.2rem;
    line-height: 1.8;
}

footer .support-link{
    padding: 0.125rem 1.4125rem;
    background-color: rgb(209, 209, 209);
    color: black;
}

footer p{
    text-align: center;
}

